name: Code quality

on:
  push:
  workflow_dispatch:

jobs:
  code-sniffer:
    name: code-sniffer
    runs-on: ubuntu-latest
    timeout-minutes: 15
    concurrency:
      group: ${{ github.ref }}/code-sniffer
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v2

      - name: Install PHP 7.4
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "7.4"
          extensions: gd

      - name: Composer install
        uses: "ramsey/composer-install@v2"
        with:
          working-directory: ./drupal/

      - name: Ignore warnings on exit code
        run: ./vendor/bin/phpcs --config-set ignore_warnings_on_exit 1
        working-directory: ./drupal/

      - name: Run codesniffer for drupal standard
        run: ./vendor/bin/phpcs --standard=Drupal $GITHUB_WORKSPACE/modules --ignore=ytp-assets-common
        working-directory: ./drupal/

      - name: Run codesniffer for drupal practice
        run: ./vendor/bin/phpcs --standard=DrupalPractice $GITHUB_WORKSPACE/modules --ignore=ytp-assets-common
        working-directory: ./drupal/
